<ion-header>
  <ion-toolbar>
    <ion-title>chapter1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis perferendis doloremque exercitationem nam
    illo recusandae ea expedita tenetur commodi consectetur explicabo necessitatibus quod vero facilis, eligendi a unde
    cumque qui.
  </p>
  <ion-button color="success" expand="full" [routerDirection]="'root'" [routerLink]="['/toc']">Go back to TOC
  </ion-button>
</ion-content>